.example-card {
    max-width: 400px;
  }

.main-div{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
img{
    height: 300px;
}

.mat-card {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 10px;
    text-align: center;
}

.textCenter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
  
  }
  
  